.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  