.projects-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.projects-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: yellow;
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.project {
  position: relative;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  min-height: 320px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  word-wrap: break-word;
}

.project .default-info {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.1rem;
}

.project .default-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.project .hover-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease-in-out;
  text-align: left;
  font-size: 1rem;
}

.project .hover-info .highlight,
.project .hover-info .project-title {
  color: yellow;
  font-weight: bold;
}


.project .hover-info ul {
  padding-left: 20px;
}

.project .hover-info ul li {
  margin-bottom: 5px;
  list-style: disc;
}

.project:hover {
  background-color: #333;
  color: white;
}

.project:hover .default-info {
  opacity: 0;
}

.project:hover .hover-info {
  opacity: 1;
}
